.myClass{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: pink;
}

#button{
    background-color: blue;
    color: white;
}